.html
    box-sizing: border-box
    font-family: 'Roboto', sans-serif
*, *:after, *:before
    box-sizing: inherit
.container
    display: flex
    justify-content: space-between
    max-width: 960px
    background-color: #eaeaea
    margin: 20px auto
    box-shadow: 1px 1px 10px rgba(168, 168, 168, 0.44)

.profile
    flex-basis: 30%
    background-color: #39383a
    color: #ababab
.profile-photo
    height: 350px
    background-image: url(/img/Iphoto.jpg)
    background-size: cover
    background-position: top
    background-repeat: none
.profile-info
    padding: 50px 30px 30px 30px
    font-family: 'Open Sans'
.profile-text
    line-height: 24.19px
    font-size: 13px
    font-family: 'Roboto'
    margin-bottom: 0px
.heading
    margin: 0
    padding-bottom: 16px
    text-transform: uppercase
    font-weight: 700

.heading-light
    color: #ffffff
    border-bottom: 2px #5a5a5a dashed
.contacts
    margin-bottom: 50px
.contacts-title
    color: #ffffff
    font-size: 16px
    font-weight: 400
.contacts-text
    text-decoration: none
    color: #ababab
    font-size: 13px
    padding-left: 25px
    line-height: 20.97px
    letter-spacing: 0.5px
.contacts-item
     border-bottom: 2px #5a5a5a dashed
     padding-bottom: 24px
     padding-top: 13px
.fas
    padding-right: 10px
address
    font-style: normal
.languages
    display: flex
    padding-top: 40px
    padding-bottom: 10px
.language
    display: flex
    justify-content: center 
    align-items: center
    flex-direction: column
    width: 90px
    height: 90px
    border: 6px solid #5c5c5c
    border-radius: 50%
    margin-right: 30px
.language-text
    font-size: 14px
.lines
    display: flex
    flex-direction: column
    padding-left: 30px
.line
    width: 70%
    margin-top: 15px
    margin-bottom: 10px
    border-bottom: 3px solid #5c5c5c
.line:nth-child(2)
    margin-left: 30px
.resume
    flex-basis: 58%
    padding: 23px 28px
    background-color: #fff
.resume-wrap
    height: 100%
    border: 1px solid rgba(168, 168, 168, 0.44)
.logo
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    margin-top: 36px
.logo-imgs
    display: flex
    justify-content: center
    align-items: center
    width: 80px
    height: 80px
    border: 2px solid rgba(168, 168, 168, 0.44)
    border-radius: 50%
    text-transform: uppercase
.logo-img
    font-size: 40px
    font-weight: 100
    color: #5c5c5c
.letter:nth-child(1)
    margin-right: -20px
.letter:nth-child(2)
    font-size: 120px
.letter:nth-child(3)
    margin-left: -20px
    transform: scale(-1,1)
.logo-lines
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin-left: 17px
    margin-right: 17px
.logo-line
    width: 63px
    height: 1px 
    background-color: rgba(168, 168, 168, 1)
    margin-bottom: 10px
    margin-top: 7px 
.logo-lines-left .logo-line:nth-child(2)
    margin-right: 25px
.logo-lines-right .logo-line:nth-child(2)
    margin-left: 25px





